In [1]:
import pandas as pd
from sklearn import linear_model

In [4]:
df = pd.read_csv("housepricesdataset.csv", sep=';')

In [5]:
df

   area  roomcount  buildingage   price
0   180          5           10  510000
1   225          4           18  508000
2   260          3            2  548000
3   320          6           10  650000
4   335          4            9  628000
5   345          5           14  632000
6   355          3            0  680000
7   400          4           10  725000

In [ ]:
df

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','roomcount','buildingage']],df['price'])

LinearRegression()

In [8]:
df['price']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: price, dtype: int64

In [9]:
reg.predict([[230,4,10]])

array([530243.29284619])

In [10]:
reg.predict([[355,3,20]])

array([616657.45791365])

In [11]:
reg.predict([[355,3,20],[355,3,20]])

array([616657.45791365, 616657.45791365])

In [13]:
a = reg.intercept_

In [14]:
a

262365.1503032055

In [15]:
b1 = reg.coef_[0]

In [16]:
b2 = reg.coef_[1]

In [17]:
b3 = reg.coef_[2]

In [18]:
a, b1, b2, b3

(262365.1503032055, 1018.9986545362071, 14893.82374984456, -2606.68429997233)